server:
  port: 8081

spring:
  application:
    name: sample-server

management:
  endpoints:
    web:
      exposure:
        include: '*'
  endpoint:
    health:
      show-details: always

logging:
  level:
    org.springframework.cloud.gateway.sample.server: INFO
    org.springframework.web: INFO
